@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

$font-stack:"Montserrat", sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: $font-stack;
    scroll-behavior: smooth;
}

a {
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
}

ul {
    list-style: none;
}

.container {
    max-width: 1300px;
    padding: 0 30px;
    margin: 0 auto;
    overflow: auto;
}

.navbar ul li a:hover,
.navbar ul li a.active {
    color: grey;
}

img {
    max-width: 100%;
}

.subtitle {
    text-align: left;
    font-size: 2rem;
    margin: 2rem 0;
    text-transform: uppercase;
    color: #000;
}

.flex {
    display: flex;
    flex: 1;
    gap: 50px;
}


.btn {
    display: block;
    text-align: center;
    color: #000;
    background: none;
    border: 1px solid #000;
    text-transform: capitalize;
    border-radius: 4px;
    padding: 10px 20px;
    width: fit-content;
    cursor: pointer;
}

//mainheader 
#mainheader {
    background: rgb(35, 85, 82);
    .navbar { 
        width: 80%;
        margin: 0 auto;
        .logo {
            width: 300px;
            margin: 4rem 0;
        }
        ul {
            display: flex;
            margin-top: 5rem;
        }
        li {
            text-align: center;
            margin-left: 1rem;
        }
        .container {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
    }
}

#mainheader-2 {
    background: rgb(60, 144, 138);
    .navbar-2 {
        ul {
            display: flex;
            margin: 2rem 0;
        }
        li {
            text-align: center;
            margin-left: 1rem;
        }
        .container {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
    
            .form-inline, .form-control {
              display: inline-block;
              width: auto;
              vertical-align: middle;
            }
        
    }
}

//content-panels
#content-panels {
    width: 90%;
    margin: 0 auto;
    .left-panel {
       .row-flex {
        margin: 1rem 0 3rem 0;
        .card {
            padding: 30px;
            display: block;
            margin: 0 auto;
            text-align: center;
            box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
            img {
                border-radius: 50%;
                width: 250px;
            }
            h2, h3, p {
                margin-bottom: 1rem;
            }
            a {
                margin: 0 auto;
            }
        }
       }
       .art {
        h2 {
            margin: 2rem 0;
            font-size: 3rem;
            font-weight: 300;
        }
        img {
            width: 50%;
        }
       }
    }
    .rigth-panel {
        .rigth-text-1 {
            margin-top: 1rem;
            h2 {
                background: rgb(60, 144, 138);
                padding: 20px;
            }
            ul {
                list-style: circle;
              padding: 20px;
                li {
                    margin-bottom: 1rem;
                    font-size: .9rem;
                    a {
                        color: #000;
                        margin: 1rem 0 !important
                    }
                }
            }
        }
        .rigth-text-2 {
            .tags {
                background: rgb(60, 144, 138);
                margin-bottom: 1rem;
                padding: 20px;
            }
            .items-flex {
                margin: 0 auto;
                width: 90%;
                display: flex;
                flex-wrap: wrap;
                gap: 20px;
                .items {
                    background: grey;
                   padding: 10px;
                }
                .items:hover {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }
    }
}


//content-panels-2
#content-panels-2 {
    width: 90%;
    margin: 0 auto;
    .left-panel {
       .art {
        h2 {
            margin: 2rem 0;
            font-size: 3rem;
            font-weight: 300;
        }
        img {
            width: 100%;
            height: 400px;
        }
        p {
            text-align: justify;
            margin: 2rem 0;
        }
       }
    }
    .rigth-panel {
        .rigth-text-1 {
            margin-top: 1rem;
            h2 {
                background: rgb(60, 144, 138);
                padding: 20px;
            }
            ul {
                list-style: circle;
              padding: 20px;
                li {
                    margin-bottom: 1rem;
                    font-size: .9rem;
                    a {
                        color: #000;
                        margin: 1rem 0 !important
                    }
                }
            }
        }
        .rigth-text-2 {
            .tags {
                background: rgb(60, 144, 138);
                margin-bottom: 1rem;
                padding: 20px;
            }
            .items-flex {
                margin: 0 auto;
                width: 90%;
                display: flex;
                flex-wrap: wrap;
                gap: 20px;
                .items {
                    background: grey;
                   padding: 10px;
                }
                .items:hover {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }
    }
}


//footer
#footer {
    padding: 3rem 0;
    text-align: center;
}

